$primary-color: #000;
$secondary-color: #7e7e7e;
$accent-color: #2CA6E7;
$light-color: #fff;
$bg-primary: #F9F9F9;
$bg-secondary: #D8D8D8;
$check-box-switch-on: #42E536;
$check-box-switch-off: #EAEAEA;
$bg-card-public: #DFF5E2;
$bg-card-available: #E8E8E8;
$bg-card-evaluation: #E7DFF5;
$accent-color-hover: #41BDFF;
$error: #E72C2C;

$modal: 1200;

$time-distribution-function: cubic-bezier(0.4, 0, 0.2, 1);

$containerWidth: 147rem;

$family_secondary: 'Evolventa';
$family_primary: 'Roboto';


