@import "../../../assets/scss/variable";
@import "../../../assets/scss/common";

.wrapper {
   width: 100%;
   position: relative;
   display: flex;
   flex-direction: column;
   padding: 1.5rem 1.6rem;
   background-color: $light-color;
   border-radius: 1.6rem;
   @media screen and (max-width: 666px) {
      width: calc(100vw - 15vw);
   }
   @media screen and (min-width: 667px) {
      max-width: 96rem;
      width: 100%;
      padding: 1.5rem 1.6rem;
   }
}
.deleteBtn {
   align-self: flex-end;
   & > * {
      display: block;
   }
}
.title {
   font-family: $family_secondary;
   font-weight: 700;
   font-size: 2.4rem;
   line-height: 2.9rem;
   margin: 1rem 0 1.6rem;
   text-align: center;
   @media screen and (min-width: 667px) {
      font-size: 3.2rem;
      line-height: 3.8rem;
      margin: 1rem 0 3rem;
   }
}
.text {
   font-size: 1.6rem;
   line-height: 1.9rem;
   text-align: start;
   padding-bottom: 3.4rem;
   border-bottom: 1px solid $bg-secondary;
   @media screen and (min-width: 667px) {
      font-size: 2.4rem;
      line-height: 2.8rem;
   }
}
.box {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   max-width: 54rem;
   width: 100%;
   margin-top: 3rem;
   @media screen and (max-width: 666px) {
      & > button {
         max-width: 16rem;
         margin: 0;
      }
   }
   @media screen and (min-width: 667px) {
      border-top: solid 1px $check-box-switch-off;
      padding-top: 3rem;
   }
   & > * {
      min-width: 10.8rem;
      @media screen and (min-width: 667px) {
         max-width: 26rem;
      }
      &:not(:last-child) {
         margin-right: 1rem;
      }
   }
}

.score {
   width: 100%;
   padding: 1.2rem;
   display: flex;
   flex-wrap: wrap;
   gap: 0.7rem;
   flex-direction: column;
   position: relative;
   @media screen and (min-width: 667px) {
      flex-direction: row;
      margin-right: 4.8rem;
      width: 50%;
      padding-top: 2.4rem;
      gap: 4.7rem;
      &:after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 0.1rem;
         height: 100%;
         background-color: $bg-primary;
      }
   }
   &__block {
      width: 14rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (min-width: 667px) {

         width: 12rem;
         font: 400 1.4rem/1.6rem $family_primary;
      }
      & > * {
         font: 400 1rem/1.2rem $family_primary;
         &:first-child {
            opacity: 0.5;
         }
      }
   }
}