@import "../../../assets/scss/variable";
@import "../../../assets/scss/common";

.wrapper {
   display: flex;
   align-items: center;
   @media screen and (min-width: 667px) {
      &:not(:last-child) {
         margin-right: 1rem;
      }
   }
   & > svg {
      width: 3.5rem;
      height: 3.3rem;
      margin-right: 1rem;
      @media screen and (min-width: 667px) {
         width: 5.4rem;
         height: 5.8rem;
      }
   }
}
.text {
   display: none;
   width: 9rem;
   font-family: $family_secondary;
   font-weight: 700;
   font-size: 2rem;
   line-height: 1.9rem;
   @media screen and (min-width: 667px) {
      display: block;
   }
}