@import "../../assets/scss/variable";
@import "../../assets/scss/common";

.container {
   display: flex;
   flex-direction: column;
   padding: 5rem 1.5rem;
   @media screen and (min-width: 667px) {
      padding: 6rem 1.5rem 11rem;
      align-items: center;
   }
}
.wrapper {
   max-width: 44rem;
   width: 100%;
   @media screen and (max-width: 666px) {
      margin: 0 auto;
   }
   @media screen and (min-width: 667px) {
      & > h1 {
         text-align: center;
      }
   }
}
.subTitle {
   font-size: 2rem;
   line-height: 2.4rem;
   color: $secondary-color;
   margin: 2.4rem 0 1.2rem;
   @media screen and (min-width: 667px) {
      margin: 2.4rem 0;
      text-align: center;
   }
}
.label {
   display: flex;
   flex-direction: column;
   font-weight: 700;
   font-size: 1.6rem;
   line-height: 1.9rem;
   margin-bottom: 1.2rem;
   cursor: pointer;

   &_email {
      margin-bottom: 3rem;
      @media screen and (min-width: 667px) {
         margin-bottom: 5rem;
      }
   }
   & > input {
      &::placeholder {
         color: $primary-color;
      }
   }
}
.form {
   &_code {
      & > button {
         margin-top: 3rem;
      }
   }
}
.repeat {
   &_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
   }
   &_time {
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 1.7rem;
      margin-right: 1rem;
   }
   &_text {
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 1.9rem;
      color: $accent-color;
      &:disabled {
         opacity: 0.6;
      }
   }
}